@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #588157;
  --color-dark-primary: #3a5a40;
  --color-dark-green: #344e41;
  --color-light-green: #a3b18a;
  --color-white: #f5f0f6;
  --color-gray: #dad7cd;

  --font-roboto: "Roboto", sans-serif;
  --font-roboto-bold: "Roboto";
}

.hoverEffect {
  transition: all 0.4s ease-in;
}
