@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #385f71;
  --color-dark-primary: #2b4162;
  --color-dark-brown: #8f754f;
  --color-light-brwon: #d7b377;
  --color-white: #f5f0f6;

  --font-roboto: "Roboto", sans-serif;
  --font-roboto-bold: "Roboto";
}

.hoverEffect {
  transition: all 2s ease-in;
}
